body {
  background-image: url('answer.jpg');
}

table {
   margin-top: 2%;
    width: max-content;
    border: 5px solid black;
    height: 200px;
    margin-left: 23%;
    margin-right: 20%;
}
table, th, td {
  border: 10px solid pink;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
  text-align: center;
}
#t01 tr:nth-child(even) {
  background-color: yellow;
  color: Black;
}
#t01 tr:nth-child(odd) {
 background-color: white;
 color: Orange
}
#t01 th {
  background-color: purple;
  color: white;
}
