font:100% Lucida Console; margin:20px;
line-height:26px;
}
#top{
background-color: #438292; color: #ffffff;
padding: 15px;
}
#menubar{ width:100%; float:left;
}
#main{ padding: 55px; margin:0;
}
#bottom{
border: 1px solid #d4d4d4; background-color: #999999; text-align: center;
padding: 5px; font-size: 50%; line-height: 10px;
}
h1, h2{
color: #c60000;

}
.menuitem{
border-radius: 5px; width: 165px; float: left;
background-color: #eb7171; color: #ffffff;
list-style-type: none; margin: 4px; padding: 5px;
text-align: center; cursor: pointer;
}

.menuitem:hover{ background-color: #feffa5;
}
a:link, a:visited{
color: #000000; text-decoration: none;
}
a:hover, a:active{
text-decoration: none;
}
